/* ======== BASE ======== */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #a6cfd5;
  /* fundo neutro da paleta */
  color: #0d0221;
}

main {
  text-align: center;
  margin-top: 40px;
}

h1 {
  color: #0d0221;
  margin-bottom: 25px;
}

/* ======== FORM CONTAINER ======== */
.container {
  background: #c2e7d9;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  border: 2px solid #26408b;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
}

.btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* ======== BOTÕES ======== */
button {
  padding: 10px 14px;
  background: #26408b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 14px;
}

button:hover {
  background: #0f084b;
}

.close-btn {
  background: #0f084b;
  margin-top: 15px;
}

.close-btn:hover {
  background: #26408b;
}

/* ======== OVERLAY E MODAL ======== */
.overlay-lista {
  display: none;
  /* sempre começam invisíveis */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 2, 33, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-lista {
  background: #c2e7d9;
  margin: 200px auto 500px auto;
  padding: 20px;
  width: 600px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* ======== ESTILO DA LISTA DE USUÁRIOS ======== */
#lista {
  list-style: none;
  padding: 0;
  margin-top: 15px;
  max-height: 260px;
  overflow-y: auto;
}

#lista li {
  background: #e2f4ec;
  margin: 6px 0;
  padding: 10px 14px 0px 14px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1.8px solid #0f084b;
  font-size: 15px;
}

/* Estilo visual pra email e nome */
li p {
  font-size: 16pt;
}

.N1,
.N3 {
  background-color: #c2e7d9;
  border: #0d0221 2px solid;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.N2,
.N4 {
  border-bottom: #0d0221 2px solid;
}

/* Botão X */
#lista li .delete {
  background: #d63434;
  border-radius: 4px;
  padding: 5px 9px;
  font-size: 16pt;
}

#lista li .delete:hover {
  background: #a70000;
}

.errolista{
  background: none;
  font-size: 20pt;
}